/.vs/linear-algebra-cpp

# Result of build
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

# temporary files of compilaton
*.obj
*.pdb

# Debug and binary files
*.exe
*.dll
*.lib
*.pdb
*.exp
*.ilk
*.map
*.log
/linear-algebra-cpp/x64/Debug/linear-algebra-cpp.log

#IntelliSence
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.ipch