.vs/

# Result of build
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

# temporary files of compilaton
*.obj
*.pdb

# Debug and binary files
*.exe
*.dll
*.lib
*.pdb
*.exp
*.ilk
*.map
*.log
/linear-algebra-cpp/x64/Debug/linear-algebra-cpp.log
/linear-algebra-cpp/x64/Debug/linear-algebra-cpp.Build.CppClean.log

#IntelliSence
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.ipch

#Visual Studio files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

#CMake files
out/
build/
CMakeCache.txt
CMakeFiles/
/linear-algebra-cpp/linear-algebra-cpp.vcxproj
/linear-algebra-cpp/linear-algebra-cpp.vcxproj.filters
